services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  api:
    image: golang:1.24
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "go mod download && go run ./cmd/api"
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - rabbitmq
      - minio

  worker:
    image: golang:1.24
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "go mod download && go run ./cmd/worker"
    env_file:
      - .env
    ports:
      - "9091:9091"
    depends_on:
      - postgres
      - rabbitmq
      - minio

volumes:
  pg_data:
  minio_data:
